version: '3'

services:
  db:
    image: postgres:13
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - ./.env
  
  backend:
    build: ./backend/
    env_file: .env
    image: kittygram_backend
    volumes:
      - static:/app/static/
      - media:/app/media/
    env_file:
      - ./.env
    depends_on:
      - db
  
  frontend:
    env_file: .env
    image: kittygram_frontend
    build: ./frontend/
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
    depends_on:
      - backend
  
  gateway:
    image: kittygram_gateway
    build: ./nginx/
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/media/
    depends_on:
      - backend
      - frontend

volumes:
  pg_data:
  static:
  media: